body {
	margin: 0;
}

.intro {
	margin-bottom: 100vh;
}

.on-screen {
	display: inline-block;
}

img {
	width: calc(25vw - 3px);
	height: calc(25vw - 3px);

	&.full {
		width: 100vw;
		height: 100vw;
	}
}