html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Helvetica', sans-serif;
}

h1 {
	font-size: 40px;
}

h2 {
	letter-spacing: -0.02em;
	//text-transform: uppercase;
}

p {
	font-size: 14px;
	letter-spacing: 0.02em;
}

code {
	background-color: #eee;
	display: inline-block;
	padding: 15px 25px;
}

.intro {
	/*margin-bottom: 100vh;*/
	border: 0;
	margin-top: 0;
}

section {
	border-top: 1px solid #333;
	margin-bottom: 100px;
}

header {
	padding: 40px 20px;
}

/*.mask {
	margin-bottom: -3px;
}*/

.arrive {
	display: inline-block;
	width: calc(25vw - 3px);
	height: calc(25vw - 3px);
}

img {
	height: 100%;
	width: 100%;

	&.full {
		width: 100vw;
		height: 100vw;
	}
}