.arrive {

    // Fade
    &-fade {

        &_in,
        &_out {
            opacity: 0;

            &.arrive-active {
                opacity: 1;
            }
        }
    }

    // Mask
    &-mask {

        &_in,
        &_out {

            &--up,
            &--right,
            &--down,
            &--left {
                display: inline-block;
                overflow: hidden;
                position: relative;

                .mask {
                    background-color: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 101%;
                    width: 101%;
                    z-index: 2;
                    transform: translate(0,0);
                }
            }

            &--up {

                &.arrive-active {

                    .mask {
                        transform: translate(0,-101%);
                    }
                }
            }

            &--right {

                &.arrive-active {

                    .mask {
                        transform: translate(101%,0);
                    }
                }
            }

            &--down {

                &.arrive-active {

                    .mask {
                        transform: translate(0,101%);
                    }
                }
            }

            &--left {

                &.arrive-active {

                    .mask {
                        transform: translate(-101%,0);
                    }
                }
            }
        }
    }

    // Move
    &-move {

        &_in,
        &_out {

            &--up,
            &--down,
            &--left,
            &--right {

                &.arrive-active {
                    transform: translate(0, 0) !important;
                }
            }
        }
    }
} // .arrive